{
  "extends": "react-static/.babelrc",
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "App": "./src/App/",
        "Home": "./src/Home/",
        "Components": "./src/components/",
        "Images": "./src/images/",
        "Content": "./content/",
        "Scripts": "./scripts/",
      },
    }],
    "babel-plugin-styled-components",
    "babel-plugin-import-glob",
    ["babel-plugin-inline-import", {
      "extensions": [".yaml", ".md"],
    }],
  ],
}
