@charset "utf-8";

.notification {
  background: #313D3E;
  box-sizing: border-box;
  color: white;
  padding: 16px 24px;
  position: relative;
  text-align: center;
  width: 100%;
}
.notification sup,
.notification sub {
  font-size: initial;
  vertical-align: initial;
  bottom: 0;
  line-height: initial;
  position: initial;
}

.notification em {
  font-style: normal;
  color: #8B8B8B;
  padding: 0 8px;
}

.notification .text-link {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  margin: 0 0;
  background: #fbfbfb;
}

h1 { font-size: 76px; }
h1 > em {
  color: white;
  font-weight: 100;
  line-height: 31px;
  font-size: 24px;
  max-width: 244px;
  display: inline-block;
  text-align: left;
  border-left: 1px solid white;
  padding-left: 16px;
  font-style: normal;
}
h1 > strong {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  max-width: 400px;
  margin: 0 auto 35px auto;
}
h1 > strong > a,
h1 > strong > a:link,
h1 > strong > a:active,
h1 > strong > a:visited,
h1 > strong > a:hover {
  color: white;
  font-weight: 600;
}
h2 { font-size: 49px; font-weight: 100; }
h3 {
  font-size: 47px;
  line-height: 1.2;
}
h4 { font-size: 31px; }
h5 { font-size: 29px; }

small { font-size: 66.67%; }

a, a:link, a:active, a:visited, a:hover { color: #00c7b7; text-decoration: none; }
a:hover { text-decoration: underline; }

dl {
  overflow: hidden;
  margin: 6px 0 0;
  padding: 0;
}
dl dt, dl dd { margin: 0; }
dl dt {
  float: left;
  width: 42%;
  clear: left;
}
dl dd {
  float: left;
  width: 58%;
}

h2 a, h2 a:link, h2 a:visited, h2 a:active, h2 a:hover {
/*  color: #66666f;*/
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}

pre {
  background: #122b3b;
  padding: 10px 20px;
  border: 1px solid #000;
}

.logo {
  font-family: 'Roboto Slab', 'serif';
}

.hero {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d9abf+0,00c7b7+100 */
  background: #4d9abf; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #4d9abf 0%, #00c7b7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #4d9abf 0%,#00c7b7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #4d9abf 0%,#00c7b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d9abf', endColorstr='#00c7b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;
  padding: 29px 0;
}
.hero h1 {
  margin: 31px 0 0;
}
.hero h2 {
  margin-top: 0;
  color: #efefef;
}
.hero a.logo, .hero a.logo:link, .hero a.logo:active, .hero a.logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  height: 45px;
  margin-bottom: 18px;
  border-bottom: 1px solid #aaa;
  background: #222;
  z-index: 100;
}

.right-menu {
  float: right;
}

.right-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-menu > ul > li {
  display: inline-block;
  line-height: 45px;
  height: 45px;
}

.right-menu > ul > li > a {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  margin-left: 16px;
}

.right-menu > ul > li > a:hover {
  color: #00c7b7;
}

.main, .container {
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  margin-top: 47px;
}

.sheet {
  background: #fff;
  border: #eee;
  border-radius: 3px;
  padding: 12px 47px 47px;
}
.sheet h1 {
    margin: 0 0 20px;
    border-bottom: 1px solid #444;
}
.links a {
    text-decoration: none;
    color: #666;
}
.links a:hover {
    color: #222;
}
.sheet .links {
    margin-bottom: 45px;
}
.sheet p {
    margin: 0 0 16px;
}
.separator {
    margin: 0 9px;
    color: #999;
    font-weight: 100;
}
.sheet .links .fa {
    margin-right: 4px;
}
.sheet h3 {
  margin: 18px 0 0;
}
.sheet h4 {
  margin: 12px 0 0;
  line-height: 1.2;
}
.sheet ol, .sheet ul {
  padding: 0;
}
.sheet ol ol, .sheet ol ul, .sheet ul ol, .sheet ul ul {
  margin-top: 12px;
  padding-left: 20px;
}
.sheet li {
  margin-bottom: 0;
}
.sheet h3 + ul { margin-top: 0; }
.sheet img {
  margin: 18px 0;
  width: 100%;
  border: none;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
}

.projects, .stats, .trends {
  list-style: none;
  margin: 0;
  padding: 0;
}
.projects {
  margin-right: -24px;
}
.card {
/*  background: rgba(255,255,255,0.8);*/
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 18px;
  margin: 0 0 18px;
  font-size: 14px;
}
.card .title {
  margin: -18px -18px 0px;
  padding: 12px 18px 6px;
/*  background: #0971B2;*/
  font-weight: normal;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}
.card .title a, .card .title a:visited, .card .title a:active, .card .title a:hover {
  color: #444;
  text-decoration: none;
}
.card .url {
  margin: 0;
  text-align: center;
  font-size: 12px;
}
.card .url a, .card .url a:visited, .card .url a:active, .card .url a:hover {
  text-decoration: none;
  color: #666;
  font-weight: normal;
}
.card .description {
  min-height: 5em;
}

.stats {
  overflow: hidden;
  margin: 16px -18px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.stat, .trend {
  display: block;
}
.stat {
  font-size: 18px;
  margin: 2px 0 1px;
  -webkit-font-smoothing: antialiased;
}
.trend.up {
  color: #31BB47;
}
.trend.down {
  color: #C91B1B;
}
.stats li, .trends li {
  float: left;
  width: 33.33333333%;
  text-align: center;
  margin: 0;
  padding: 6px;
  line-height: 1.4;
}

.landing .deploy-to-netlify {
  margin: 0 0 20px 0;
}

.landing .deploy-to-netlify h3 {
  font-size: 24px;
  margin: 26px 0 16px 0;
}

.landing .deploy-to-netlify p {
  font-size: 14px;
}

.deploy-to-netlify {
  margin: 64px 0;
}

.deploy-to-netlify hr {
  color: #fefefe;
  border-top: 1px solid #fefefe;
  margin-bottom: 30px;
}

.deploy-to-netlify h3,
.deploy-to-netlify p {
  margin-bottom: 24px;
}

.deploy-to-netlify em {
  color: grey;
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}

.deploy {
  display: block;
  margin: 22px 0 0 0;
}

a.deploy-btn {
  min-height: 43px;
  width: 100%;
}

a.deploy-btn img {
  width: 100%;
}

a.deploy-btn-interior img {
  margin: -4px 0 0 0;
  box-shadow: none;
  width: auto;
}

.sheet:after {
  content: "";
  display: table;
  clear: both;
}

.text, .charts {
    float: left;
}
.text {
  width: 70%;
  padding-right: 47px;
}
.charts {
  width: 30%;
}

.chart {
  width: 100%;
  height: 200px;
}

.footer {
  background: #B6B6B6;
  margin: 46px 0 0;
  padding: 46px 46px 23px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.postscript {
  color: #eee;
  font-size: 12px;
  text-align: center;
  margin-top: 46px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.postscript a, .postscript a:visited, .postscript a:link, .postscript a:active, .postscript a:hover {
  color: #fff;
  font-weight: bold;
}
.postscript a:hover {
  text-decoration: underline;
}

.footer h3 {
  color: white;
  font-weight: 100;
  font-size: 29px;
  text-align: center;
}
.footer h3 a, .footer h3 a:visited, .footer h3 a:active, .footer h3 a:hover {
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer h3 a:hover {
  text-decoration: underline;
}

/* Awesome dropdown design from this Codepen: http://codepen.io/Thibaut/pen/Jasci */

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.navbar .dropdown {
  margin-top: 6px;
  margin-right: 12px;
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px; /* Fix select appearance on Firefox https://gist.github.com/joaocunha/6273016/ */
  text-overflow: '';
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: none;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.share-button { margin: auto; top: 0; left: 0; bottom: 0; right: 0; margin-bottom: 24px; }


@media all and (max-width: 499px) {
  .main, .container {
    margin: 0;
  }

  .project {
    display: block;
    width: 100%;
    padding: 20px 20px 0;
  }
  .projects {
    margin-right: 0;
  }
}

@media all and (min-width: 500px) {
  .project {
    float: left;
    width: 50%;
    padding-right: 24px;
  }
  .project:nth-of-type(n) { clear: none; }
  .project:nth-of-type(2n+1) { clear: both; }
}

@media all and (max-width: 800px) {
  .navbar {
    height: 90px;
  }
  .navbar .right-menu {
    float: none;
  }
  .navbar .right-menu a { margin-left: 0; }
  .navbar .container {
    padding: 0 12px;
  }
}

@media all and (min-width: 800px) {
  .project {
    float: left;
    width: 33.333333333%;
    padding-right: 24px;
  }
  .project:nth-of-type(n) { clear: none; }
  .project:nth-of-type(3n+1) { clear: both; }
}

@media all and (min-width: 1000px) {
  .project {
    float: left;
    width: 25%;
    padding-right: 24px;
  }
  .project:nth-of-type(n) { clear: none; }
  .project:nth-of-type(4n+1) { clear: both; }
}
