<div class="navbar">
  <div class="container">
    <% if defined?(controls) && controls %>
      <div class="dropdown">
        <select name="sort" class="dropdown-select">
          <option value="stars" selected>Sort by stars</option>
          <option value="forks">Sort by forks</option>
          <option value="issues">Sort by issues</option>
          <option value="title">Sort by title</option>
        </select>
      </div>
    <% end %>
    <% if not defined?(controls) %>
        <a href="/" class="back">Back to main page</a>
    <% end %>
    <div class="right-menu">
      <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contribute.html">Contribute</a></li>
      </ul>
    </div>
  </div>
</div>
